---
layout: default
title: Thoughts - Peter Müller
---

<main class="content excerpts" role="main">

    {% for post in site.posts limit:5 %}

    <article class="post">
        <header class="post-header">
            <div class="post-meta">
                <time datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time><!-- —
                {% for category in post.categories %}
                    <span class="category">#{{ category }}</span>
                {% endfor %}-->
            </div>
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

        </header>
        <section class="post-excerpt">
            {{ post.excerpt }}
        </section>
        <div class="post-meta">
            <div class="sharing">
                {% capture twittertext %}{% if post.twittertext %}{{ post.twittertext }}{% else %}{{ post.title }}{% endif %}{% endcapture %}
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="_munter_" data-url="{{ site.url }}{{ post.url }}" data-text="{{ twittertext }}">Tweet</a>
            </div>
            <p>
                <a href="{{ post.url}}">Read full post</a>
            </p>
        </div>
    </article>

    {% endfor %}

</main>
