<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'nonce-developmentonly' https://www.google-analytics.com https://mntrdk.disqus.com/embed.js; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/css a.disquscdn.com; font-src https://fonts.gstatic.com; frame-src https://disqus.com/; img-src 'self' https://www.google-analytics.com a.disquscdn.com referrer.disqus.com https://img.youtube.com https://i.vimeocdn.com; object-src 'none'">

        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400">

        <title>{{ page.title }}</title>
        <meta name="description" content="Web, workflow, tools and random thoughts">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Default favicon, placed in root to support browsers that ignore this tag -->
        <link rel="shortcut icon" href="/favicon.ico">

        <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
        <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon/152.png" sizes="152x152">

        <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
        <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon/144.png" sizes="144x144">

        <!-- IE 10 Metro tile icon (Metro equivalent of apple-touch-icon) -->
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="/assets/images/favicon/144.png">

        <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
        <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon/120.png" sizes="120x120">

        <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
        <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon/114.png" sizes="114x114">

        <!-- For first- and second-generation iPad: -->
        <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon/72.png" sizes="72x72">

        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon/57.png" sizes="57x57">

        <!-- Certain chrome versions -->
        <link rel="icon" href="/assets/images/favicon/32.png" sizes="32x32">
        <link rel="icon" href="/assets/images/favicon/16.png" sizes="16x16">

        <!-- Open Graph stuff -->
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:site_name" content="{{ site.description }}">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:type" content="article">
        {% if page.excerpt %}
        <meta property="og:description" content="{{ page.excerpt | strip_html }}">
        {% endif %}
        <meta property="og:image" content="{{ site.url }}/assets/images/favicon/opengraph.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="500">

        <!-- Twitter stuff -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@_munter_">
        <meta name="twitter:creator" content="@_munter_">
        <meta name="twitter:title" content="{{ page.title }}">
        {% if page.excerpt %}
        <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
        {% else %}
        <meta name="twitter:description" content="{{ site.description }}">
        {% endif %}

        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
        <meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2016-12-07" content="AlXHTmEUqVf3ZcMqwADE523lLWm0ofBXXmerrqWraZE2CqxW+dYMZ9UX016SnlbqYrimTEcjxTPy197JQyq8+AAAAABOeyJvcmlnaW4iOiAiaHR0cHM6Ly9tbnRyLmRrOjQ0MyIsICJmZWF0dXJlIjogIldlYlNoYXJlIiwgImV4cGlyeSI6IDE0ODExMTgwNTR9">
    </head>
    <body>

        <header role="banner" class="site-head">
            <div class="site-head-content inner">
                <a class="blog-logo" href="/" aria-label="home"><img src="/assets/images/logo-white.svg"></a>
                <h1 class="blog-title">{{ site.name }}</h1>
                <h2 class="blog-description">{{ site.description }}</h2>
            </div>

            {% include menu.html %}
        </header>

        <main role="main">
            {{ content }}
        </main>

        <footer class="site-footer">
            <div class="vertical">
                <div class="inner">

                    <section class="author">
                        <img class="author-avatar" src="/assets/images/munter.jpg" width="120" height="120">
                        <h4>Peter Müller</h4>
                        <p><a href="http://copenhagenjs.dk/">CopenhagenJS</a> organizer, <a href="https://github.com/assetgraph/">Assetgraph</a> maintainer, <a href="https://github.com/Munter">Open Source enthusiast</a>, JavaScript hacker and occasional <a href="http://lanyrd.com/profile/_munter_/sessions/">public speaker</a>.</p>
                    </section>

                    <div class="subscriptions">
                        <a class="subscribe social-twitter" href="https://twitter.com/_munter_"></a>
                        <a class="subscribe social-github" href="https://github.com/Munter"></a>
                        <a class="subscribe social-google" href="https://plus.google.com/+PeterM%C3%BCllerPlus/"></a>
                        <a class="subscribe social-linkedin" href="http://dk.linkedin.com/in/petermuller"></a>
                        <a class="subscribe social-email" href="mailto:munter+mntr@fumle.dk"></a>
                        <a class="subscribe social-rss" href="/feed.xml"></a>
                    </div>
                </div>
            </div>
        </footer>

        <script nonce="developmentonly">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-49049609-1', 'mntr.dk');
          ga('send', 'pageview');

        </script>

        <script src="/assets/js/web-share.js" async></script>
    </body>
</html>
