---
layout: default
---

<article class="post post-video">
    <h1 class="post-title">{{ page.title }}</h1>

    <div class="post-meta">
        <time datetime="{{ page.date | date_to_string }}">{{ page.date | date_to_string }}</time>

        {% if page.event %}
            <span>at</span>

            {% if page.event.url %}
                <a href="{{ page.event.url}}">{{ page.event.name }}</a>
            {% else %}
                <span>{{ page.event.name }}</span>
            {% endif %}
        {% endif %}
    </div>

    {% if page.abstract %}
        <section class="post-abstract">
            {{ page.abstract | markdownify }}
        </section>
    {% endif %}

    {% if page.video %}
        <section class="post-video">
            {% if page.video.service == 'youtube' %}
                <a href="https://www.youtube.com/watch?v={{ page.video.id }}" class="playable">
                    <img src="https://img.youtube.com/vi/{{ page.video.id }}/maxresdefault.jpg" alt="Watch video">
                </a>
            {% elsif page.video.service == 'vimeo' %}
                <a href="https://vimeo.com/{{ page.video.id }}" class="playable">
                    <img src="https://i.vimeocdn.com/video/{{ talk.video.image-id }}_700.jpg" alt="Watch video">
                </a>
            {% elsif page.video.url %}
                <video controls>
                    <source src="{{ page.video.url }}"></source>
                    <a href="{{ page.video.page }}">Watch video</a>
                </video>
            {% endif %}
        </section>
    {% endif %}

    {% if page.slides %}
        <p>
            <strong>Slides:</strong> <a href="{{ page.slides }}">{{ page.slides }}</a>
        </p>
    {% endif %}

    <section class="post-content">
        {{ content }}
    </section>

    <div class="sharing">
        {% capture twittertext %}{% if page.twittertext %}{{ page.twittertext }}{% else %}{{ page.title }}{% endif %}{% endcapture %}
        <a href="https://twitter.com/intent/tweet" class="twitter-share-button" data-via="_munter_" data-url="{{ site.url }}{{ page.url }}" data-text="{{ twittertext }}">Tweet</a>
    </div>

    <div class="post-meta" style="overflow: auto">
        {% if page.previous.url %}
            <a href="{{page.previous.url}}" title="Previous Talk: {{page.previous.title}}" style="float: left">&laquo; {{page.previous.title}}</a>
        {% endif %}

        {% if page.next.url %}
            <a href="{{page.next.url}}" title="Next Talk: {{page.next.title}}" style="float: right">{{page.next.title}} &raquo;</a>
        {% endif %}
    </div>

    {% if page.disquss != false %}
        <div id="disqus_thread"></div>
    {% endif %}
</article>


{% if page.disquss != false %}
    <script type="text/javascript">
        var disqus_shortname = 'mntrdk';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% endif %}
