---
layout: default
---

<article class="post">
    <h1 class="post-title">{{ page.title }}</h1>

    <div class="post-meta">
        <time datetime="{{ page.date | date_to_string }}">{{ page.date | date_to_string }}</time><!-- —
        {% for category in page.categories %}
            <span class="category">#{{ category }}</span>
        {% endfor %}
    -->
    </div>

    <section class="post-content">
        {{ content }}
    </section>

    <div class="sharing">
        {% capture twittertext %}{% if page.twittertext %}{{ page.twittertext }}{% else %}{{ page.title }}{% endif %}{% endcapture %}
        <a href="https://twitter.com/intent/tweet?text={{ twittertext | cgi_escape }}&amp;title={{ page.title | cgi_escape }}&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" class="twitter-share-button">Tweet this</a>
    </div>

    <div class="post-meta">
        {% if page.previous.url %}
            <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}" class="post-meta__prev">&laquo; {{page.previous.title}}</a>
        {% endif %}

        {% if page.next.url %}
            <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}" class="post-meta__next">{{page.next.title}} &raquo;</a>
        {% endif %}
    </div>

    {% if page.disquss != false %}
        <div id="disqus_thread"></div>
    {% endif %}
</article>


{% if page.disquss != false %}
    <script type="text/javascript" nonce="developmentonly">
        var disqus_shortname = 'mntrdk';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% endif %}
