---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <div class="post-meta">
    {% include date.liquid, date: page.date %}
  </div>

  <section class="post-content">
    {{ content }}
  </section>

  <div class="sharing">
    {% capture twittertext %}{% if page.twittertext %}{{ page.twittertext }}{% else %}{{ page.title }}{% endif %}{% endcapture %}
    <a href="https://twitter.com/intent/tweet?text={{ twittertext | cgi_escape }}&amp;title={{ page.title | cgi_escape }}&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}"
      class="twitter-share-button">Tweet this</a>
  </div>

  <div class="post-meta">
    {% if page.previous.url %}
    <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}" class="post-meta__prev">&laquo;
      {{page.previous.title}}</a>
    {% endif %}

    {% if page.next.url %}
    <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}" class="post-meta__next">{{page.next.title}}
      &raquo;</a>
    {% endif %}
  </div>
</article>
